# Autosave files
*~

# build
[Oo]bj/
[Bb]in/
packages/
TestResults/

# globs
Makefile.in
*.DS_Store
*.sln.cache
*.suo
*.cache
*.pidb
*.userprefs
*.usertasks
config.log
config.make
config.status
aclocal.m4
install-sh
autom4te.cache/
*.user
*.tar.gz
tarballs/
test-results/
Thumbs.db
.vs/

# Mac bundle stuff
*.dmg
*.app

# resharper
*_Resharper.*
*.Resharper

# dotCover
*.dotCover
/net.phraustbyte.bll/lib/netstandard2.0
*.nupkg
/net.phraustbyte.dal/lib/netstandard2.0
/._net.phraustbyte.sln
/net.phraustbyte.dal.dbisam/lib/netstandard2.0
/net.phraustbyte.dal.mssql/lib/netstandard2.0
/net.phraustbyte.dal.mysql/lib/netstandard2.0
